/*
Glass

An area that appears to be on a glass panel placed above the underlying content.

Markup:
<div class="glass">
    Vyhynul podíval květiny
</div>

Styleguide 4.9
*/

.glass {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, .3);

}