<!--Closed-->
<div id="drop1" class="dropdown">
    <div class="dropdown__head">
        Moje
        <span class="icon icon--arrow-down"></span>
    </div>
    <div class="dropdown__list">
        <div class="dropdown__item">Počátku</div>
        <div class="dropdown__item">Moje</div>
        <div class="dropdown__item">Biology</div>
        <div class="dropdown__item">Zkrátka</div>
    </div>
</div>
<!--Opened-->
<div id="drop2" class="dropdown">
    <div class="dropdown__head dropdown__head--selected">
        Počátku
        <span class="icon icon--arrow-down"></span>
    </div>
    <div class="dropdown__list dropdown__list--opened">
        <div class="dropdown__item dropdown__item--selected">Počátku<div class="dropdown__icon"><span class="icon icon--check"></span></div></div>
        <div class="dropdown__item">Moje</div>
        <div class="dropdown__item">Biology</div>
        <div class="dropdown__item">Zkrátka</div>
    </div>
</div>
<!--Only for preview-->
<div class="visible--desk" style="margin-top: 180px;"></div>
