<div class="grid">
    <div class="grid__item e-6--palm e-5">
        <div class="promobox">
            <h1>Jazykem paliva</h1>
            <p>
                Pokaždé zoologie hlubšího
            </p>
            <p>
                <button class="button">Odeslat</button>
            </p>
        </div>
    </div><!--
    --><div class="grid__item e-6--palm e-5">
        <div class="promobox promobox--inverse">
            <h1 class="promobox__title">Jazykem paliva</h1>
            <p>
                Pokaždé zoologie hlubšího
            </p>
            <p>
                <button class="button">Odeslat</button>
            </p>
        </div>
    </div><!--
    --><div class="grid__item e-6--palm e-5">
        <div class="promobox promobox--reduced">
            <h1>Jazykem paliva</h1>
            <p>
                Pokaždé zoologie hlubšího
            </p>
            <p>
                <button class="button">Odeslat</button>
            </p>
        </div>
    </div>
</div>
