.header {
    font-size: 15px;
    background-color: @jobs-blue-basic;

    &__logo {
        width: 77px;
        height: 40px;
        max-width: 100%;
    }

    &__logo-link:hover {
        border: none;
    }

    &__toggle {
        color: #ffffff;

        &:hover {
            color: @gray;
            border: none;
        }
    }

    @media only screen and (min-width: @screen-lap) {

        &__logo {
            width: 133px;
            height: 70px;
        }
    }
}