.header {
    font-size: 15px;
    background-color: @jobs-blue-basic;

    &__logo {
        width: 77px;
        height: 40px;
        max-width: 100%;
    }

    &__logo-link:hover {
        border: none;
    }

    @media only screen and (min-width: @screen-lap) {

        &__logo {
            width: 133px;
            height: 70px;
        }
    }
}

.navigation {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    background: @dark-blue;

    li {
        margin: 0 6%;
    }

    &__item {
        color: #ffffff;

        &:hover {
            color: @gray;
        }
    }

    &__toggle {
        color: #ffffff;

        &:hover {
            color: @gray;
            border: none;
        }
    }

    @media only screen and (min-width: @screen-lap) {
        top: 70px;
    }

    @media only screen and (min-width: @screen-desk) {
        position: static;
        padding: 0;
        background-color: transparent;

        li {
            display: inline-block;
            margin: 0;
            padding-right: 18px;
        }

        &__item {
            display: inline-block;
            line-height: 67px;
            border-top: 3px solid transparent;


            &:hover {
                color: #ffffff;
                border-bottom: none;
                border-top-color: @jobs-orange;
            }
        }
    }
}