.header {
    font-size: 15px;
    background-color: @jobs-blue-basic;

    &__logo {
        width: 61px;
        height: 24px;
        margin: 8px 0;
        max-width: 100%;
    }

    &__logo-link {
        width: 89px;
        height: 35px;
    }

    &__logo-link:hover {
        border: none;
    }

    &__toggle {
        display: inline-block;
        padding: 0 20px;
        line-height: 60px;
        color: #ffffff;

        &:hover,
        &--active {
            color: #ffffff;
            background-color: @dark-blue;
            border: none;
        }
    }

    @media only screen and (min-width: @screen-lap) {

        &__logo {
            width: 89px;
            height: 35px;
            margin: 18px 0 17px 0;
        }

        &__toggle {
            line-height: 70px;
        }
    }

    @media only screen and (min-width: @screen-desk) {

        &__toggle {
            line-height: 80px;
        }
    }
}