/*
Combobox

Floating box e.g. for autocomplete.

It may be combined with a picker.

Opening a combobox body means adding `.combobox__body--open` class and changing its
`aria-hidden` attribute to false.

*Please note that provided JavaScript is for demonstration purposes only.*

Markup:
<div class="grid">
    <div class="grid__item e-10">
        <div class="combobox" id="combobox">
            <label class="form__label" for="demo-input">Prarodičů</label>
            <input class="form__text-input" id="demo-input"
                type="text" placeholder="Kamkoliv po republice">
            <div class="combobox__body" id="combobody"
                role="dialog" aria-hidden="true">
                <ul class="list-unstyled">
                    <li class="combobox__item"><a class="combobox__link" href="#">Hmotu čech minimálně</a></li>
                    <li class="combobox__item combobox__item--highlight"><a class=" combobox__link" href="#">Zrušili by která různá  tělo ne vzdělávání</a></li>
                    <li class="combobox__item"><a class="combobox__link" href="#">Slabého chybí tělo ne vzdělávání</a></li>
                    <li class="combobox__item">Rovnosti z původním</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var combobody = $('#combobody');
    $('#demo-input').click(function (e) {
        e.preventDefault();
        combobody.addClass('combobox__body--open')
            .attr('aria-hidden', 'false');
    });
    $('html').click(function (e) {
        if (!$(e.target).closest('#combobox').length) {
            combobody.removeClass('combobox__body--open')
                .attr('aria-hidden', 'true');
        }
    });
</script>

Styleguide 5.15
*/

.combobox {
    position: relative;

    &__body {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: 400px;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow: auto;
        border: 1px solid @light-gray;
        background-color: #ffffff;
        border-top: none;
        z-index: 10;
        .box-sizing(border-box);
        .box-shadow(0 6px 6px rgba(0, 0, 0, 0.2));

        &--open {
            display: block;
        }
    }

    &__item {
        display: block;
        min-height: 40px;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 40px;

        &:hover {
            border: none;
        }

        &--highlight {
            background-color: @light-yellow;
        }
    }

    &__link {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @steel;

        &:hover {
            color: @steel;
            border-bottom: none;
        }
    }
}
