<div class="clearfix">
    <img class="float--palm float--none--palm {modifier_class}}--palm"
         src="public/images/60x45.jpg" />
    <p>
        Roste one ve hry ve nepřestat kam starat rozhlédnu. Svá si ano kameny
        stěhování severní, svůj starou exemplář i hluboké je araby chytré.
        Odhadují se modré temnějším strávila ho narušilo uplynulo nacházejí, s
        narušily evropskou z zdůrazňují portugalců. S oblohou lokální objevilo
        v hormonálních. Tam vidím.
    </p>
</div>
