<div class="signpost">
    <div class="signpost__item">
        <span class="icon icon--list signpost__icon"></span>
        <a href="#">List of items</a>
    </div>
    <div class="signpost__item">
        <span class="icon icon--clock signpost__icon"></span>
        <a href="#">Actualities</a>
    </div>
    <div class="signpost__item">
        <span class="icon icon--file-alt signpost__icon"></span>
        <a href="#">Contact</a>
    </div>
</div>
