<ul class="list-inline">
    <li>
        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>&nbsp;
        <a class="tag" href="#">CSS</a>
    </li>
    <li>
        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>&nbsp;
        <a class="tag" href="#">PHP</a>
    </li>
    <li>
        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>&nbsp;
        <a class="tag" href="#">JavaScript</a>
    </li>
    <li>
        <span class="icon icon--reorder tag__icon tag__icon--large" aria-hidden="true"></span>&nbsp;
        <a class="tag" href="#">JavaScript</a>
    </li>
    <li>
        <span class="icon icon--reorder tag__icon tag__icon--ultra-large" aria-hidden="true"></span>&nbsp;
        <a class="tag" href="#">JavaScript</a>
    </li>
</ul>
