/*
Tabs

Tabs as list

Markup:
<div class="grid">
    <div class="grid__item">
        <ul class="tabs">
            <li class="tabs__item tabs__item--active e-2--palm"><a class="tabs__link" href="#">Tab1</a><span class="tabs__triangle"></span></li>
            <li class="tabs__item e-2--palm"><a class="tabs__link" href="#">Tab2</a><span class="tabs__triangle"></span></li>
            <li class="tabs__item e-2--palm"><a class="tabs__link" href="#">Tab3</a><span class="tabs__triangle"></span></li>
            <li class="tabs__item last e-2 e-0--palm"><a class="tabs__link" href="#">Tab4</a><span class="tabs__triangle"></span></li>
        </ul>
    </div>
</div>

Styleguide 4.13
*/

.tabs {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;

    &__item {
        border-right: 1px solid @dark-blue;
        border-top: 1px solid @dark-blue;
        border-bottom: 1px solid @dark-blue;
        text-align: center;
        position: relative;
        display: inline-block;
        box-sizing: border-box;

        &:first-child {
            border-left: 1px solid @dark-blue;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &--active {

            background-color: @dark-blue;

            .tabs__link {
                color: #fff;
                font-weight: bold;
            }

            .tabs__triangle {
                position: absolute;
                width: 0px;
                height: 0px;
                margin-left: -10px;
                border-style: solid;
                border-width: 8px 8px 0;
                border-color: @dark-blue transparent transparent transparent;
            }
        }
    }

    .last {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    &__link {
        display: block;
        color: @dark-blue;
        font-size: 15px;

        &:hover {
            border-bottom: none;
            font-weight: bold;
        }
    }
}




