/*
Tabs

Tabs as list

Markup:
<div class="grid">
    <div class="grid__item">
        <ul class="tabs" data-toggle-collection="tab1">
            <li class="tabs__item"><a class="tabs__link" href="#" data-activate="element1">Firmy</a></li>
            <li class="tabs__item tabs__item--active"><a class="tabs__link" href="#" data-activate="element2">Obory</a></li>
            <li class="tabs__item"><a class="tabs__link" href="#" data-activate="element3">Populární</a></li>
            <li class="tabs__item"><a class="tabs__link" href="#" data-activate="element4">Brigády</a></li>
        </ul>
    </div>
</div>
<div class="grid" data-collection="tab1">
    <div class="grid__item" data-source="element1">
        <p>Vyhynul podíval květiny.</p>
    </div>
    <div class="grid__item" data-source="element2">
        <p>Souvislosti modré ujít ně současnou.</p>
    </div>
    <div class="grid__item" data-source="element3">
        <p>Pokaždé zoologie hlubšího.</p>
    </div>
    <div class="grid__item" data-source="element4">
        <p>Filosofa v nazvaného s mcintoshe větších.</p>
    </div>
</div>

Styleguide 4.13
*/

.borderize-right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tabs {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;

    &__item {
        border-right: 1px solid @dark-blue;
        border-top: 1px solid @dark-blue;
        border-bottom: 1px solid @dark-blue;
        text-align: center;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        min-width: 25%;
        height: 34px;
        @media only screen and (max-width: @screen-lap) {
            min-width: 33%;

            &:last-child {
                display: none;
            }

            &:nth-child(3) {
                .borderize-right
            }
        }

        &:first-child {
            border-left: 1px solid @dark-blue;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:last-child {
            .borderize-right
        }

        &--active {

            background-color: @dark-blue;

            .tabs__link {
                color: #fff;

                &:hover {
                    font-weight: normal;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 0px;
                height: 0px;
                margin-left: -7px;
                border-style: solid;
                border-width: 5px 6px 0;
                border-color: @dark-blue transparent transparent transparent;
            }
        }
    }

    &__link {
        display: block;
        color: @dark-blue;
        font-size: 15px;
        height: 33px;
        line-height: 30px;

        &:hover {
            border-bottom: none;
            font-weight: bold;
        }
    }
}
//



