/*
Tagselect

The component is used to select or enter values into input form.

Markup:
<div class="tagselect">
    <div class="tagselect__item">Multikulturním ptáků <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item">Pole automatický... <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item">Občany ... <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item">Si korun slabého <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item tagselect__item--selected">Pohár ulice <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <input class="tagselect__input" placeholder="Vodách realitu" autocomplete="off" autocorrect="off"/>
</div>

Styleguide 3.7
*/

.tagselect {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border: 1px solid @light-gray;
    cursor: text;

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-top: 4px;
        margin-right: 10px;
        margin-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        line-height: 27px;
        color: @steel;
        border: 1px solid transparent;
        background-color: @light-yellow;

        &--selected {
            border-color: @dark-orange;
        }
    }

    &__close {
        margin-left: 10px;
        font-size: 13px;
        color: @dark-orange;

        &:hover {
            border: none;
        }
    }

    &__input {
        display: inline-block;
        vertical-align: middle;
        width: 160px;
        height: 36px;
        padding: 0;
        margin-bottom: 0;
        text-overflow: ellipsis;
        line-height: 36px;
        border: 1px solid transparent;
        outline: 0;
    }
}
