<div class="tagselect">
    <div class="tagselect__item">Multikulturním ptáků <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item">Pole automatický... <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item">Občany ... <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item">Si korun slabého <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <div class="tagselect__item tagselect__item--selected">Pohár ulice <a class="tagselect__close" href="#"><span class="icon icon--remove" aria-hidden="true"></span></a></div>
    <input class="tagselect__input" placeholder="Vodách realitu" autocomplete="off" autocorrect="off"/>
</div>
