<div class="hero">
    <span class="hero__title">Nám společné traektorii</span>
</div>
<div class="hero hero--collapsed">
    <span class="hero__title">Nám společné traektorii</span>
</div>
<div class="hero hero--cover">
    <span class="hero__title">Nám společné traektorii</span>
</div>
<div class="hero hero--bold">
    <span class="hero__title hero__title--bold">Nám společné traektorii</span>
</div>
