<div class="grid promo">
    <div class="grid__item e-2--palm">
        <a href="#"><img class="promo__image" src="public/images/60x45.jpg" /></a>
    </div><!--
    --><div class="grid__item e-6--palm e-5">
        <span a class="promo__title">
            <a href="#">Jazykem stranu paliva</a>
        </span>
        <p class="promo__text">Pokaždé zoologie hlubšího</p>
    </div>
</div>
<div class="grid promo">
    <div class="grid__item e-7">
        <span class="promo__title">
            <a href="#">Jazykem stranu paliva k nežli smrky pozdější viditelný</a>
        </span>
        <p class="promo__text">Pokaždé zoologie hlubšího</p>
    </div>
</div>
