<h1>35px - Heading 1<a href="#">link</a></h1>
<h2>25px - Heading 2 <a href="#">link</a></h2>
<h3>20px - Heading 3 <a href="#">link</a></h3>
<h4 class="headline">15px - Heading 4 <a href="#">link</a></h4>
<h5 class="headline headline--primary">35px - Heading 5 headline--primary <a href="#">link</a></h5>
<h6 class="headline headline--secondary">25px - Heading 6 headline--secondary <a href="#">link</a></h6>
<h2 class="headline headline--thin">Heading thin headline--thin <a href="#">link</a></h2>
<h2 class="headline headline--uppercase">Heading uppercase headline--uppercase <a href="#">link</a></h2>
<p>15px - Filosofa v nazvaného s mcintoshe větších. Vlastním polonica základní
    duchovní od lanovku pochopily, skoro zlata střechami zářivě šanci fotografie
    starověké rozhlédnu polapen si mor. I do. Nuly té kmenových moc kvalitnější
    léčení, 110 k společně jakkoli větší rogera mi mi komfort původu. Počasím větší
    svahu dosavadní němž modrém, výkon položená zuří paprsky – když pochopitelně,
    její maňána terénních cílem.
</p>
<p>Vítr tvarů vymírání. <span class="muted">@gray #999 - Obchod provincií neškodný půdorysem nízko ověšeny</span>, dne
    z plyne srpnu, <span class="text--warning">@red #d40014 náklady hlídá zastavil</span>, stroj původním postupující prostředí jí
    <span class="text--highlight">@jobs-orange #f90 - vždyť spolufinancuje závisí jiní novinářů tvořené aula</span> dlouhá mé jachtaři.
</p>
<p class="text--extra-small">13px - Přetvořit kotle prostupnost divné prakticky s soustavně máme časem</p>
<p class="text--small">14px - Má bojem proti od s dlouhou</p>
<p class="text--success">15px @dark-green #00aa28 - Tohle je barva úspěchu</p>
<p class="text--uppercase">15px - spolufinancuje závisí jiní novinářů Tohle je barva úspěchu</p>
<hr />
<div class="text--center">Nachystejte uzenáče, na snídani jsem zpátky</div>
<div class="text--right">Vulkánu myslitelnými z nedostupná výrazný</div>
<div class="text--inline">Oproti stádu specialistkou oxidu příslušnosti bílá proužkem</div>
<div style="background-color: #19325a; padding: 5px;"><span class="text--inverse">white #fff - A pavouka kráse procent dubnu věřila.</span></div>
<p>Má bojem proti od s <a href="#" class="no-underline">dlouhou</a></p>
<div style="background-color: #19325a; padding: 5px;"><a href='#' class="link--inverse">white #fff, border @jobs_orange #ff9900 - spolufinancuje závisí</a></div>
<p style="background-color: #19325a; padding: 5px; border-top: 1px solid #fff;"><a href='#' class="navigation__link navigation__link--spread">Kdy bílý s potřeba</a></p>
