<ul>
    <li>One</li>
    <li>Two
        <ul>
            <li>Two Point One</li>
            <li>Two Point Three</li>
        </ul>
    </li>
    <li>Three</li>
    <li>Four</li>
</ul>
<ol class="{{ modifier_class }}">
<li>One</li>
<li>Two</li>
<li>Three
    <ol>
        <li>Three.One</li>
        <li>Three.Two</li>
    </ol>
</li>
<li>Four</li>
</ol>
