<div class="cover-box cover-box--with-content">
    <a href="#">
        <img class="cover-box__image" src="public/images/cover-box.jpg" />
    </a>
    <div class="cover-box__content">
        <div class="cover-box__content__links">
            <a class="cover-box__content__links__link cover-box__content__links__link--left"
               href="#">Do borci</a>
            <a class="cover-box__content__links__link cover-box__content__links__link--right"
               href="#">Zoologie hlubšího</a>
            <a class="cover-box__content__links__link"
               href="#">Veřejný cíp</a>
        </div>
    </div>
</div>
<div class="cover-box">
    <a href="#">
        <img class="cover-box__image" src="public/images/cover-box.jpg" />
    </a>
</div>
