/*
Folding Panel

Folding panel with hidden content, which is showed after clicking on the panel title.

The grid used in folding panel is for demo purpose and is fully customizable.

The second panel is adjusted to fit the sidebar.

Markup:
<div data-folding-panel-list>
    <div class="folding-panel">
        <div class="grid">
            <div class="grid__item e-9--palm e-16">
                <div class="folding-panel__head">
                    <div class="grid">
                        <div class="grid__item e-9--palm e-8">
                            <div class="folding-panel__head__main">
                                <span class="icon folding-panel__icon icon--arrow-right" aria-hidden="true"></span>
                                <a href="#">
                                    A výkyvy proslulou začali
                                </a>
                            </div>
                        </div><!--
                        --><div class="grid__item e-9--palm e-5">
                            Vy zakladatele
                        </div><!--
                        --><div class="grid__item e-9--palm e-3">
                            Atlantik vysocí
                        </div>
                    </div>
                </div>
                <div class="folding-panel__body">
                    <div class="grid">
                        <div class="grid__item e-16">
                            <p>
                                K horké námořních stád
                            </p>
                            <p>
                                Její vše nejblíže výška zkrátka vysokého pomoci kvalitního příznivější,
                                s dynamit pořádá špatná stačit.
                            </p>
                            <div class="half-standalone">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#">
                                            Jejíž z rodin
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="half-standalone">
                                <a class="button" href="#">
                                    Výzev vysocí
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="folding-panel folding-panel--tight">
        <div class="grid">
            <div class="grid__item e-7">
                <div class="folding-panel__head">
                    <div class="grid">
                        <div class="grid__item e-7">
                            <div class="folding-panel__head__main">
                                <span class="icon folding-panel__icon icon--arrow-right" aria-hidden="true"></span>
                                <a href="#">
                                    A výkyvy proslulou začali pomoci kvalitního
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="folding-panel__body">
                    <div class="grid">
                        <div class="grid__item e-7">
                            <p>
                                K horké námořních stád
                            </p>
                            <p>
                                Její vše nejblíže výška zkrátka vysokého pomoci kvalitního příznivější,
                                s dynamit pořádá špatná stačit.
                            </p>
                            <div class="half-standalone">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#">
                                            Jejíž z rodin
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="half-standalone">
                                <a class="button" href="#">
                                    Výzev vysocí
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

Styleguide 1.10
*/

.folding-panel {
    border-top: 1px solid @light-silver;

    &__head {
        cursor: pointer;
        padding: 10px 0;

        &__main {
            position: relative;
            font-weight: bold;

            @media only screen and (min-width: @screen-lap) {
                padding-left: 20px;
            }
        }

    }
    &__icon {
        color: @blue;

        @media only screen and (min-width: @screen-lap) {
            position: absolute;
            top: 5px;
            left: 0;
        }
    }

    &__body {
        display: none;

        @media only screen and (min-width: @screen-lap) {
            padding-left: 20px;
        }
    }

    &--tight {
        border: none;

        .folding-panel__head {
            padding: 2px 0;
        }
    }


}
