<div class="grid">
    <div class="grid__item e-8">
        <a class="featured {{ modifier_class }}" href="#">
            <img class="featured__image" src="public/images/300x225.jpg" />
            <div class="featured__caption">
                <span class="featured__heading">Zúročovat z matriarchálně houba
                nebe sudokopytníci narušovány té zkoušet o unii</span>
            </div>
        </a>
    </div><!--
    --><div class="grid__item e-8">
        <a class="featured featured--ribboned {{ modifier_class }}" href="#">
            <img class="featured__image" src="public/images/300x225.jpg" />
            <div class="featured__caption">
                <span class="featured__heading">Zúročovat z matriarchálně houba
                nebe sudokopytníci narušovány té zkoušet o unii</span>
            </div>
        </a>
    </div><!--
    --><div class="grid__item e-8">
        <a class="featured {{ modifier_class }}" href="#">
            <div class="featured__icon">
                <span class="icon icon--chart" aria-hidden="true"></span>
            </div>
            <div class="featured__caption featured__caption--single">
                <span class="featured__heading">Kalkulačky</span>
            </div>
        </a>
    </div><!--
    --><div class="grid__item e-8">
        <a class="featured {{ modifier_class }}" href="#">
            <div class="featured__caption featured__caption--simple">
                <span class="featured__heading">Další inspirace a rady&nbsp;&nbsp;<span class="icon icon--angle-right"></span></span>
            </div>
        </a>
    </div>
</div>
