<div class="grid">
    <div class="grid__item e-7">
        <div class="profile-badge">
            <div class="profile-badge__logo">
                <a href="#"><img src="public/images/120x90.jpg" width="120" height="90"></a>
            </div>
            <div class="profile-badge__preview">
                <a href="#"><img src="public/images/elita_default.png" width="258" height="130"></a>
            </div>
            <div class="profile-badge__content">
                <dl class="icon-description">
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 1
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 2
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 3
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid__item e-7">
        <div class="profile-badge profile-badge--naked">
            <div class="profile-badge__preview profile-badge__preview--fixed">
                <a href="#">
                    <img class="profile-badge__logo profile-badge__logo--fixed"
                         src="public/images/elita_default.png" >
                </a>
            </div>
            <div class="profile-badge__content">
                <dl class="icon-description">
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 1
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 2
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 3
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
