/*
Profile badge

Displays a box for profile badge

Markup:
<div class="grid">
    <div class="grid__item e-7">
        <div class="profile-badge">
            <div class="profile-badge__logo">
                <a href="#"><img src="public/images/120x90.jpg" width="120" height="90"></a>
            </div>
            <div class="profile-badge__preview">
                <a href="#"><img src="public/images/elita_default.png" width="258" height="130"></a>
            </div>
            <div class="profile-badge__content">
                <dl class="icon-description">
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 1
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 2
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 3
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid__item e-7">
        <div class="profile-badge profile-badge--naked">
            <div class="profile-badge--naked__preview">
                <a href="#">
                    <img class="profile-badge--naked__logo"
                         src="public/images/elita_default.png" >
                </a>
            </div>
            <div class="profile-badge__content">
                <dl class="icon-description">
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 1
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 2
                    </dd>
                    <dt>
                        <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    </dt>
                    <dd>
                        Odrážka 3
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

Styleguide 4.19
*/

.profile-badge {
    margin-bottom: @standalone-bottom-margin;
    padding-bottom: 20px;
    border: 1px solid @light-gray;
    text-align: left;
    background-color: #fff;

    @media only screen and (min-width: @screen-lap) {
        margin-bottom: 0;
    }

    &__logo {
        margin: 20px 0;
        text-align: center;
    }

    &__preview {
        width: 100%;
        margin-bottom: 20px;

        @media only screen and (min-width: @screen-lap) {
            height: 110px;
        }

        @media only screen and (min-width: @screen-desk) {
            height: 130px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__content {
        padding: 0 20px;
    }

    &--naked {
        margin-bottom: @standalone-bottom-margin;
        border: none;

        &__preview {
            width: 100%;
            margin-bottom: 20px;
        }

        &__logo {
            width: 258px;
            height: 130px;
        }
    }
}