<form class="form pit">
    <div class="grid grid--center--palm"><!--
    --><div class="grid__item e-3--palm e-7">
            <div class="select-filter">
                <label class="form__label form__label--faded" for="animals">
                    Pet
                    <span class="icon icon--spinner icon--rotating" aria-hidden="true"></span>
                </label>
                <select class="form__select" id="animals">
                    <option>choose</option>
                    <option value="1">Cat</option>
                    <option value="2">Dog</option>
                    <option value="3">Cow</option>
                    <option value="4">Crocodile</option>
                </select>
            </div>
        </div><!--
    --><div class="grid__item e-3--palm e-7">
            <div class="select-filter select-filter--active">
                <label class="form__label form__label--faded" for="animals">
                    Pet
                    <span class="icon icon--spinner icon--rotating" aria-hidden="true"></span>
                </label>
                <select class="form__select" id="animals2">
                    <option>choose</option>
                    <option value="1">Cat</option>
                    <option value="2" selected>Dog</option>
                    <option value="3">Cow</option>
                    <option value="4">Crocodile</option>
                </select>
            </div>
        </div><!--
--></div><!--
--><div class="grid grid--center--palm"><!--
    --><div class="grid__item e-3--palm e-7">
            <div class="select-filter select-filter--arrow">
                <label class="form__label form__label--faded" for="animals">
                    Pet
                    <span class="icon icon--spinner icon--rotating" aria-hidden="true"></span>
                </label>
                <select class="form__select" id="animals3">
                    <option>choose</option>
                    <option value="1">Cat</option>
                    <option value="2">Dog</option>
                    <option value="3">Cow</option>
                    <option value="4">Crocodile</option>
                </select>
            </div>
        </div><!--
    --><div class="grid__item e-3--palm e-7">
            <div class="select-filter select-filter--arrow">
                <label class="form__label form__label--faded" for="animals">
                    Pet
                    <span class="icon icon--spinner icon--rotating" aria-hidden="true"></span>
                </label>
                <select class="form__select" id="animals4">
                    <option>choose</option>
                    <option value="1">Cat</option>
                    <option value="2" selected>Dog</option>
                    <option value="3">Cow</option>
                    <option value="4">Crocodile</option>
                </select>
            </div>
        </div><!--
--></div><!--
--><div class="grid grid--center--palm"><!--
    --><div class="grid__item e-6--palm e-7">
            <div class="select-filter select-filter--active">
            <span class="select-filter__item">
                stomatologie
                <span class="icon icon--remove" aria-hidden="true"></span>
            </span>
            </div>
        </div><!--
    --><div class="grid__item e-6--palm e-7">
            <div class="select-filter select-filter--active">
            <span class="select-filter__item">
                nature údaje pohyb houbovitou
                <span class="icon icon--remove" aria-hidden="true"></span>
            </span>
            </div>
        </div><!--
--></div>
</form>
