/*
Select filter

Special form of select with *active* modifier.

Style of the select element will be changed automaticaly
in case that non first option is selected.

Markup:
<form class="form pit">
<div class="grid grid--center--palm"><!--
    --><div class="grid__item e-3--palm e-5">
        <div class="select-filter">
            <select class="form__select" id="animals">
                <option>choose</option>
                <option value="1">Cat</option>
                <option value="2">Dog</option>
                <option value="3">Cow</option>
                <option value="4">Crocodile</option>
            </select>
            <span class="icon icon--spinner icon--rotating" aria-hidden="true"></span>
        </div>
    </div><!--
    --><div class="grid__item e-3--palm e-5">
        <div class="select-filter select-filter--active">
            <select class="form__select" id="animals2">
                <option>choose</option>
                <option value="1">Cat</option>
                <option value="2" selected>Dog</option>
                <option value="3">Cow</option>
                <option value="4">Crocodile</option>
            </select>
            <span class="icon icon--spinner icon--rotating" aria-hidden="true"></span>
        </div>
    </div><!--
--></div>
</form>

Styleguide 3.5
*/

.select-filter {
    position: relative;

    select {
        font-size: 13px;
        border-color: @dark-blue;
        color: @dark-blue;
    }
    &--active {
        select {
            background-color: @dark-blue;
            color: #ffffff;

            option {
                background-color: #ffffff;
                color: @dark-blue;
            }
        }
    }
    .icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 8px;
        color: #ffffff;
        font-size: 13px;
    }
    &--in-progress {
        select {
            padding-left: 20px;
        }
        .icon {
            display: block;
        }
    }
}
