/*
Pit

An area reserved or enclosed for a specific purpose

Markup:
<div class="pit">
    Oh, boy! I am in the pit!
</div>

Styleguide 1.2
*/

.pit {
    padding-top: @standalone-bottom-margin;
    padding-bottom: @standalone-bottom-margin;
    background-color: @light-silver;
    border: 1px solid @light-gray;
}