<div class="standalone">Look, there is a space below me!</div>
<hr>
<div class="half-standalone">I have a smaller space below!</div>
<hr>
<div class="double-standalone">I have a bigger space below!</div>
<hr>
