<ul class="elite-row list-unstyled">
    <li class="elite-row__item">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/skodaauto/elita/logo.gif" alt="Škoda"></a>
        <p>8 nabídek</p>
    </li>
    <li class="elite-row__item">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/tmobile/elita/logo.gif" alt="T-Mobile"></a>
        <p>9 nabídek</p>
    </li>
    <li class="elite-row__item">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/zentiva/elita/logo.gif" alt="Zentiva"></a>
        <p>10 nabídek</p>
    </li>
    <li class="elite-row__item elite-row__item--hidden-palm elite-row__item--visible">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/koba/elita/logo.gif" alt="Kb"></a>
        <p>1 nabídka</p>
    </li>
    <li class="elite-row__item elite-row__item--hidden-palm elite-row__item--visible-desk">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/csas/elita/logo.gif" alt="Česká Spořitelna"></a>
        <p>3 nabídky</p>
    </li>
</ul>
