/*
Elite row

The component is used to display *Elite* employers in a row with a description.

* Use modificator *hidden-palm* for *elite-row__item* class to hide on smartphone.
* Use modificator *visible* for *elite-row__item* class to show on lap and desk.
* Use modificator *visible-desk* for *elite-row__item* class to show only on desk.

Using divs instead of a list is possible.

Markup:
<ul class="elite-row list-unstyled">
    <li class="elite-row__item">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/skodaauto/elita/logo.gif" alt="Škoda"></a>
        <p>8 nabídek</p>
    </li>
    <li class="elite-row__item">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/tmobile/elita/logo.gif" alt="T-Mobile"></a>
        <p>9 nabídek</p>
    </li>
    <li class="elite-row__item">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/zentiva/elita/logo.gif" alt="Zentiva"></a>
        <p>10 nabídek</p>
    </li>
    <li class="elite-row__item elite-row__item--hidden-palm elite-row__item--visible">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/koba/elita/logo.gif" alt="Kb"></a>
        <p>1 nabídka</p>
    </li>
     <li class="elite-row__item elite-row__item--hidden-palm elite-row__item--visible-desk">
        <a href="#"><img class="elite-row__logo" src="http://presentation.lmc.cz/loga/csas/elita/logo.gif" alt="Česká Spořitelna"></a>
        <p>3 nabídky</p>
    </li>
</ul>

Styleguide 4.25
*/

.elite-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: @dark-gray;

    &__item {
        display: table-cell;
        text-align: center;

       &--hidden-palm {
           display: none;
       }

        @media only screen and (min-width: @screen-lap) {
            &--visible {
                display: table-cell;
            }
        }

        @media only screen and (min-width: @screen-desk) {
            &--visible-desk {
                display: table-cell;
            }
        }
    }

    &__logo {
        width: 80px;

        @media only screen and (min-width: @screen-lap) {
            width: 120px;
        }
    }
}
