<form method="get" class="small-search">
    <input type="text" placeholder="Hledat" class="small-search__input"><!--
    --><button type="submit" class="button button--slim">
        <span class="icon icon--search" aria-hidden="true"></span>
    </button>
</form>
