/*
Table

The table component with default styles.

Markup:
<table class="table">
    <thead>
        <tr>
            <th>
                město o metry o jakoby
            </th>
            <th>
                klíčem sebe
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                nicméně roce evropa úpravou
            </td>
            <td>
                kanadské proudění draci, známý toto tzv. šimpanzů nory pohodlí vědci žen krásná EU též paprsky k pouhým tomu
            </td>
        </tr>
    </tbody>
</table>

Styleguide 5.13
*/

.table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid @silver;

    th, td {
        padding: 5px 10px;
        border: 1px solid @silver;
    }
    th {
        background-color: @light-silver;
    }
}
