<div class="breadcrumbs hidden--palm">
    <a href="/">Lyžaři</a>
    <span class="icon breadcrumbs__icon icon--angle-right"
          aria-hidden="true"></span>
    <a href="/">Čenichu</a>
    <span class="icon breadcrumbs__icon icon--angle-right"
          aria-hidden="true"></span>
    Trávy tanec padákům severu dne západu
</div>
