/*
Breadcrumbs

Displays a link with an optional figure and description

Markup:
<div class="breadcrumbs hidden--palm">
    <a href="/">Lyžaři</a>
    <span class="icon breadcrumbs__icon icon--angle-right"
          aria-hidden="true"></span>
    <a href="/">Čenichu</a>
    <span class="icon breadcrumbs__icon icon--angle-right"
          aria-hidden="true"></span>
    Trávy tanec padákům severu dne západu
</div>

Styleguide 4.6
*/

// display: block;
// padding-top: 20px;
// background: #fff;

@media only screen and (min-width: @screen-lap) {
    .breadcrumbs {
        overflow: hidden;
        color: @gray;
        text-overflow: ellipsis;
        white-space: nowrap;

        &__icon {
            padding: 0 8px;
        }

    }
}