/*
Illustational cover

Illustational cover element, attribute style with background-image has to be set on .illustration-cover

Shouldn't be used with content.

Markup:
<div class="grid">
    <div class="grid__item e-16">
        <div class="illustration-cover"
            style="background-image:url('public/images/illustation-cover.jpg')"></div>
    </div>
</div>

Styleguide 4.7
*/
.illustration-cover {
    background-color: @light-silver;
    overflow: hidden;
    height: 100px;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;

    @media only screen and (min-width: @screen-lap) {
        height: 160px;
    }

    @media only screen and (min-width: @screen-desk) {
        height: 220px;
    }
}
