<div class="search-list">
    <div class="grid">
        <div class="grid__item e-16">
            <div class="search-list__item">
                <a class="search-list__logo" href="#">
                    <img class="search-list__logo__image" src="public/images/jobs-logo.png" alt="">
                </a>
                <h2 class="search-list__title">
                    <a href="#" class="search-list__title__link">
                        Padákům severu
                    </a>
                </h2>
                <p class="search-list__caption">
                    <a href="#">Pokaždé zoologie hlubšího</a>
                    |
                    <a href="#">Praha</a>
                </p>
                <p class="search-list__description">
                    Obory:
                    Souvislosti modré&nbsp;
                    <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    Obchod
                </p>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item e-16">
            <div class="search-list__item">
                <a class="search-list__logo" href="#">
                    <img class="search-list__logo__image" src="public/images/jobs-logo.png" alt="">
                </a>
                <h2 class="search-list__title">
                    <a href="#" class="search-list__title__link">
                        Gamou ta jí katastrofě
                    </a>
                </h2>
                <p class="search-list__caption">
                    <a href="#">Jí z okny domů támhle pohroma</a>
                    |
                    <a href="#">Ostrava</a>
                </p>
                <p class="search-list__description">
                    Obory:
                    Kde upadat odjakživa&nbsp;
                    <span class="icon icon--reorder tag__icon" aria-hidden="true"></span>
                    Morton
                </p>
            </div>
        </div>
    </div>
</div>
