<div class="hero hero--bold" style="background-color: #19325a">
    <span>I'm before of the horizontal separator</span>
    <hr class="horizontal-separator">
    <span>I'm after the horizontal separator</span>
    <div class="horizontal-separator">
        <span>I'm inside of the horizontal separator</span>
    </div>
</div>
