<div class="grid kss__iconshowcase"><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--angle-left" aria-hidden="true"></span>
        <br> angle-left
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--angle-right" aria-hidden="true"></span>
        <br> angle-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--arrow-circle-o-down" aria-hidden="true"></span>
        <br> arrow-circle-o-down
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--arrow-down" aria-hidden="true"></span>
        <br> arrow-down
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--arrow-right" aria-hidden="true"></span>
        <br> arrow-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--bell" aria-hidden="true"></span>
        <br> bell
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--bite-square" aria-hidden="true"></span>
        <br> bite-square
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--book" aria-hidden="true"></span>
        <br> book
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--book-open" aria-hidden="true"></span>
        <br> book-open
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--building" aria-hidden="true"></span>
        <br> building
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--briefcase" aria-hidden="true"></span>
        <br> briefcase
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--calculator" aria-hidden="true"></span>
        <br> calculator
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--calendar-empty" aria-hidden="true"></span>
        <br> calendar-empty
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--chart" aria-hidden="true"></span>
        <br> chart
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--check" aria-hidden="true"></span>
        <br> check
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--check-circle" aria-hidden="true"></span>
        <br> check-circle
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--clock" aria-hidden="true"></span>
        <br> clock
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--coins" aria-hidden="true"></span>
        <br> coins
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--comment-alt" aria-hidden="true"></span>
        <br> comment-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--double-angle-right" aria-hidden="true"></span>
        <br> double-angle-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--facebook" aria-hidden="true"></span>
        <br> facebook
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--facebook-square" aria-hidden="true"></span>
        <br> facebook-square
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--file-alt" aria-hidden="true"></span>
        <br> file-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--folder" aria-hidden="true"></span>
        <br> folder
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--folder-open-alt" aria-hidden="true"></span>
        <br> folder-open-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--globe" aria-hidden="true"></span>
        <br> globe
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--googleplus" aria-hidden="true"></span>
        <br> googleplus
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--heart" aria-hidden="true"></span>
        <br> heart
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--house" aria-hidden="true"></span>
        <br> house
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--info" aria-hidden="true"></span>
        <br> info
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--info-sign" aria-hidden="true"></span>
        <br> info-sign
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--laptop" aria-hidden="true"></span>
        <br> laptop
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--lang-en" aria-hidden="true"></span>
        <br> lang-en
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--lang-de" aria-hidden="true"></span>
        <br> lang-de
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--library" aria-hidden="true"></span>
        <br> library
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--lightbulb-o" aria-hidden="true"></span>
        <br> lightbulb-o
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--list" aria-hidden="true"></span>
        <br> list
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--like" aria-hidden="true"></span>
        <br> like
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--map-marker" aria-hidden="true"></span>
        <br> map-marker
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--pencil" aria-hidden="true"></span>
        <br> pencil
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--plus" aria-hidden="true"></span>
        <br> plus
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--print" aria-hidden="true"></span>
        <br> print
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--remove" aria-hidden="true"></span>
        <br> remove
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--reorder" aria-hidden="true"></span>
        <br> reorder
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--search" aria-hidden="true"></span>
        <br> search
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--share" aria-hidden="true"></span>
        <br> share
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--share-alt" aria-hidden="true"></span>
        <br> share-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--signin" aria-hidden="true"></span>
        <br> signin
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--spinner" aria-hidden="true"></span>
        <br> spinner
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--star" aria-hidden="true"></span>
        <br> star
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--star-empty" aria-hidden="true"></span>
        <br> star-empty
    </div><!--
     --><div class="grid__item e-3--palm">
        <span class="icon icon--stop" aria-hidden="true"></span>
        <br> stop
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--tag" aria-hidden="true"></span>
        <br> tag
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--twitter" aria-hidden="true"></span>
        <br> twitter
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--user" aria-hidden="true"></span>
        <br> user
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--youtube" aria-hidden="true"></span>
        <br> youtube
    </div><!--
--></div>
