// Importing the fonts
@font-face {
	font-family: 'jobsicon';
	src: url('../fonts/jobsicon.eot');
	src: url('../fonts/jobsicon.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/jobsicon.woff') format('woff'),
		 url('../fonts/jobsicon.ttf') format('truetype'),
		 url('../fonts/jobsicon.svg#jobsicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Antialiasing in Chrome in Windows
// http://icomoon.io/#post/318
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'jobsicon';
        src: url('../fonts/jobsicon.svg#jobsicon') format('svg');
    }
}

// Preparing for icons inspired by IcoMoon App and Boostrap
.icon {
    display: inline-block;
    position: relative;
    top: 1px;
    font-family: 'jobsicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &--heading {
        color: @jobs-orange;

        &:after {
            content: "\a0";
        }
    }
}

// Individual icons
// Copy-paste from the bootom of IcoMoon App generated style.css
.icon--double-angle-right:before {
	content: "\e600";
}
.icon--angle-left:before {
	content: "\e601";
}
.icon--angle-right:before {
	content: "\e602";
}
.icon--reorder:before {
	content: "\e603";
}
.icon--search:before {
	content: "\e604";
}
.icon--tag:before {
	content: "\e605";
}
.icon--googleplus:before {
	content: "\e606";
}
.icon--facebook:before {
	content: "\e607";
}
.icon--youtube:before {
	content: "\e608";
}
.icon--twitter:before {
	content: "\e609";
}
.icon--bite-square:before {
	content: "\e60a";
}
.icon--user:before {
	content: "\e60b";
}
.icon--house:before {
	content: "\e60c";
}
