/*
Icons

Styleguide 2.7
*/

/*
Individual icons

Markup:
<div class="grid kss__iconshowcase"><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--angle-left" aria-hidden="true"></span>
        <br> angle-left
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--angle-right" aria-hidden="true"></span>
        <br> angle-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--bell" aria-hidden="true"></span>
        <br> bell
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--bite-square" aria-hidden="true"></span>
        <br> bite-square
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--building" aria-hidden="true"></span>
        <br> building
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--calendar-empty" aria-hidden="true"></span>
        <br> calendar-empty
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--clock" aria-hidden="true"></span>
        <br> clock
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--coins" aria-hidden="true"></span>
        <br> coins
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--comment-alt" aria-hidden="true"></span>
        <br> comment-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--double-angle-right" aria-hidden="true"></span>
        <br> double-angle-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--facebook" aria-hidden="true"></span>
        <br> facebook
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--folder-open-alt" aria-hidden="true"></span>
        <br> folder-open-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--googleplus" aria-hidden="true"></span>
        <br> googleplus
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--house" aria-hidden="true"></span>
        <br> house
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--info-sign" aria-hidden="true"></span>
        <br> info-sign
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--laptop" aria-hidden="true"></span>
        <br> laptop
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--library" aria-hidden="true"></span>
        <br> library
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--list" aria-hidden="true"></span>
        <br> list
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--like" aria-hidden="true"></span>
        <br> like
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--map-marker" aria-hidden="true"></span>
        <br> map-marker
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--print" aria-hidden="true"></span>
        <br> print
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--remove" aria-hidden="true"></span>
        <br> remove
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--reorder" aria-hidden="true"></span>
        <br> reorder
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--search" aria-hidden="true"></span>
        <br> search
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--share" aria-hidden="true"></span>
        <br> share
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--share-alt" aria-hidden="true"></span>
        <br> share-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--star" aria-hidden="true"></span>
        <br> star
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--star-empty" aria-hidden="true"></span>
        <br> star-empty
    </div><!--
     --><div class="grid__item e-3--palm">
        <span class="icon icon--stop" aria-hidden="true"></span>
        <br> stop
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--tag" aria-hidden="true"></span>
        <br> tag
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--twitter" aria-hidden="true"></span>
        <br> twitter
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--user" aria-hidden="true"></span>
        <br> user
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--youtube" aria-hidden="true"></span>
        <br> youtube
    </div><!--
--></div>

Styleguide 2.7.1
*/

/*
Icons within headings

An icon as an illustration in heading is orange and has same space after it.

Markup:
<h2>
    <span class="icon icon--bite-square icon--heading" aria-hidden="true"></span>
    I'm an illustrated heading
</h2>
<h2>
    <span class="icon icon--tag icon--heading" aria-hidden="true"></span>
    Pff, so am I
</h2>

Styleguide 2.7.2
*/

/*
Animated icons

Smooth rotation of an icon

Markup:
<span class="icon icon--star icon--rotating" aria-hidden="true"></span>

Styleguide 2.7.3
*/
// To be used when the following issue is resolved:
// https://github.com/madebysource/lesshat/issues/108
//.keyframes(~'animation-rotate, 0%{ transform: rotate(0); } 100%{ transform: rotate(360deg); }');

@-webkit-keyframes animation-rotate{ 0%{ -webkit-transform: rotate(0); } 100%{ -webkit-transform: rotate(360deg); }}
@-moz-keyframes animation-rotate{ 0%{ -moz-transform: rotate(0); } 100%{ -moz-transform: rotate(360deg); }}
@-o-keyframes animation-rotate{ 0%{ -o-transform: rotate(0); } 100%{ -o-transform: rotate(360deg); }}
@keyframes animation-rotate{ 0%{-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0); } 100%{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg); }}

// Importing the fonts
@font-face {
  font-family: 'jobsicon';
  src: url('fonts/jobsicon.eot');
  src: url('fonts/jobsicon.eot?#iefix') format('embedded-opentype'),
  url('fonts/jobsicon.woff') format('woff'),
  url('fonts/jobsicon.ttf') format('truetype'),
  url('fonts/jobsicon.svg#jobsicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Antialiasing in Chrome in Windows
// http://icomoon.io/#post/318
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jobsicon';
    src: url('fonts/jobsicon.svg#jobsicon') format('svg');
  }
}

// Preparing for icons inspired by IcoMoon App and Bootstrap
.icon {
  display: inline-block;
  position: relative;
  top: 1px;
  font-family: 'jobsicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--heading {
    color: @jobs-orange;

    &:after {
      content: "\a0";
    }
  }

  &--rotating {
    .animation(animation-rotate 2s linear infinite);
  }
}

// Individual icons
// Copy-paste from the bottom of IcoMoon App generated style.css
.icon--coins:before {
  content: "\e601";
}
.icon--library:before {
  content: "\e600";
}
.icon--bite-square:before {
  content: "\e603";
}
.icon--youtube:before {
  content: "\e604";
}
.icon--twitter:before {
  content: "\e605";
}
.icon--googleplus:before {
  content: "\e606";
}
.icon--facebook:before {
  content: "\e607";
}
.icon--search:before {
  content: "\e608";
}
.icon--star:before {
  content: "\e609";
}
.icon--star-empty:before {
  content: "\e60a";
}
.icon--remove:before {
  content: "\e61a";
}
.icon--clock:before {
  content: "\e602";
}
.icon--tag:before {
  content: "\e60b";
}
.icon--print:before {
  content: "\e60c";
}
.icon--list:before {
  content: "\e61c";
}
.icon--map-marker:before {
  content: "\e60d";
}
.icon--share:before {
  content: "\e60e";
}
.icon--stop:before {
  content: "\e624";
}
.icon--info-sign:before {
  content: "\e61f";
}
.icon--share-alt:before {
  content: "\e61d";
}
.icon--like:before {
  content: "\e619";
}
.icon--signin:before {
  content: "\e623";
}
.icon--bell:before {
  content: "\e60f";
}
.icon--reorder:before {
  content: "\e610";
}
.icon--comment-alt:before {
  content: "\e611";
}
.icon--file-alt:before {
  content: "\e622";
}
.icon--building:before {
  content: "\e612";
}
.icon--double-angle-right:before {
  content: "\e613";
}
.icon--angle-left:before {
  content: "\e614";
}
.icon--angle-right:before {
  content: "\e615";
}
.icon--laptop:before {
  content: "\e61b";
}
.icon--folder-open-alt:before {
  content: "\e616";
}
.icon--calendar-empty:before {
  content: "\e61e";
}
.icon--user:before {
  content: "\e617";
}
.icon--house:before {
  content: "\e618";
}
.icon--arrow-down:before {
  content: "\e620";
}
.icon--arrow-right:before {
  content: "\e621";
}