/*
Icons

Styleguide 2.7
*/

/*
Individual icons

Markup:
<div class="grid kss__iconshowcase"><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--angle-left" aria-hidden="true"></span>
        <br> angle-left
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--angle-right" aria-hidden="true"></span>
        <br> angle-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--arrow-circle-o-down" aria-hidden="true"></span>
        <br> arrow-circle-o-down
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--arrow-down" aria-hidden="true"></span>
        <br> arrow-down
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--arrow-right" aria-hidden="true"></span>
        <br> arrow-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--bell" aria-hidden="true"></span>
        <br> bell
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--bite-square" aria-hidden="true"></span>
        <br> bite-square
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--building" aria-hidden="true"></span>
        <br> building
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--calendar-empty" aria-hidden="true"></span>
        <br> calendar-empty
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--chart" aria-hidden="true"></span>
        <br> chart
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--clock" aria-hidden="true"></span>
        <br> clock
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--coins" aria-hidden="true"></span>
        <br> coins
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--comment-alt" aria-hidden="true"></span>
        <br> comment-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--double-angle-right" aria-hidden="true"></span>
        <br> double-angle-right
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--facebook" aria-hidden="true"></span>
        <br> facebook
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--folder-open-alt" aria-hidden="true"></span>
        <br> folder-open-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--googleplus" aria-hidden="true"></span>
        <br> googleplus
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--house" aria-hidden="true"></span>
        <br> house
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--info-sign" aria-hidden="true"></span>
        <br> info-sign
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--laptop" aria-hidden="true"></span>
        <br> laptop
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--library" aria-hidden="true"></span>
        <br> library
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--list" aria-hidden="true"></span>
        <br> list
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--like" aria-hidden="true"></span>
        <br> like
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--map-marker" aria-hidden="true"></span>
        <br> map-marker
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--plus" aria-hidden="true"></span>
        <br> plus
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--print" aria-hidden="true"></span>
        <br> print
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--remove" aria-hidden="true"></span>
        <br> remove
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--reorder" aria-hidden="true"></span>
        <br> reorder
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--search" aria-hidden="true"></span>
        <br> search
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--share" aria-hidden="true"></span>
        <br> share
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--share-alt" aria-hidden="true"></span>
        <br> share-alt
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--star" aria-hidden="true"></span>
        <br> star
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--star-empty" aria-hidden="true"></span>
        <br> star-empty
    </div><!--
     --><div class="grid__item e-3--palm">
        <span class="icon icon--stop" aria-hidden="true"></span>
        <br> stop
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--tag" aria-hidden="true"></span>
        <br> tag
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--twitter" aria-hidden="true"></span>
        <br> twitter
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--user" aria-hidden="true"></span>
        <br> user
    </div><!--
    --><div class="grid__item e-3--palm">
        <span class="icon icon--youtube" aria-hidden="true"></span>
        <br> youtube
    </div><!--
--></div>

Styleguide 2.7.1
*/

/*
Icons within headings

An icon as an illustration in heading is orange and has same space after it.

Markup:
<h2>
    <span class="icon icon--bite-square icon--heading" aria-hidden="true"></span>
    I'm an illustrated heading
</h2>
<h2>
    <span class="icon icon--tag icon--heading" aria-hidden="true"></span>
    Pff, so am I
</h2>

Styleguide 2.7.2
*/

/*
Animated icons

Smooth rotation of an icon

Markup:
<span class="icon icon--star icon--rotating" aria-hidden="true"></span>

Styleguide 2.7.3
*/

// To be used when the following issue is resolved:
// https://github.com/madebysource/lesshat/issues/108
//.keyframes(~'animation-rotate, 0%{ transform: rotate(0); } 100%{ transform: rotate(360deg); }');
@-webkit-keyframes animation-rotate{ 0%{ -webkit-transform: rotate(0); } 100%{ -webkit-transform: rotate(360deg); }}
@-moz-keyframes animation-rotate{ 0%{ -moz-transform: rotate(0); } 100%{ -moz-transform: rotate(360deg); }}
@-o-keyframes animation-rotate{ 0%{ -o-transform: rotate(0); } 100%{ -o-transform: rotate(360deg); }}
@keyframes animation-rotate{ 0%{-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0); } 100%{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg); }}

// Preparing for icons inspired by IcoMoon App and Bootstrap
.icon {
  display: inline-block;
  position: relative;
  top: 1px;

  &--heading {
    color: @jobs-orange;

    &:after {
      content: "\a0";
    }
  }

  &--rotating {
    .animation(animation-rotate 2s linear infinite);
  }
}

@import (inline) "fonts/style.css";
