<ul class="pager hidden-print list-inline">
    <li>
        <a class="button button--slim" href="#">
            <span class="icon icon--angle-left" aria-hidden="true"></span>
        </a>
    </li>
    <li>
        <a class='pager__item' href='#'>1</a>
    </li>
    <li>
        <span class='pager__item pager__item--active'>2</span>
    </li>
    <li>
        <a class='pager__item' href='#'>3</a>
    </li>
    <li>
        <a class='pager__item' href='#'>4</a>
    </li>
    <li>
        <span class="pager__item pager__item--ellipsis"></span>
    </li>
    <li>
        <a class='pager__item' href='#'>25</a>
    </li>
    <li>
        <a class="button button--slim" href="#">
            <span class="icon icon--angle-right" aria-hidden="true"></span>
        </a>
    </li>
</ul>
